*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 12rem;
}

/* ---------------- */
#textColor{
    color: yellow;
}
.textColor{
    color: red;
}
p{
    color: aqua;
}

body > div.colors > p{
    color: green;
}
